@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');

@font-face {
    font-family: 'RocketLeague';
    src: url('fonts/GoGoPosterPunch.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}

:root {
    --dark: #24292C;
    --dark-transparent: #24292CE0;
    --red: #D92915;
    --blue: #4068D3;
    --yellow: #DBB664;
    --yellow-transparent25: #DBB66440;
    --yellow-transparent50: #DBB66480;
    --aqua: #66B9C5; 
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: var(--dark);
}

::-webkit-scrollbar-thumb {
    background: rgb(82, 89, 94); 
    border-radius: 1000px;
    transition: all 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: rgb(59, 64, 68);
}


body {
    display: grid;
    font-family: 'Lato', sans-serif;
    color: rgb(221, 224, 233);
}

nav {
    height: 7.5rem;
    position: fixed;
    width: 100%;
    background: var(--dark-transparent);
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.5rem;
    align-items: center;
    white-space: nowrap;
    /* justify-items: center; */
}

.btn {
    border-radius: 1000px;
    border: 3px solid var(--yellow);
    text-align: center;
    padding: 8px 2rem;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
    /* color: var(--yellow); */
}

nav > ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    align-items: center;
    justify-items: center;
}

nav .nav-item {
    transition: all 0.3s ease-in-out; 
    padding: 8px 2rem;
}

nav .nav-item svg {
    margin-right: 0.5rem;
}

nav .nav-item::after {
    content: '';
    display: block;
    width: 0%;
    height: 3px;
    background: var(--aqua);
    transition: all 0.3s ease-in-out;
}

nav .nav-item:hover {
    color: var(--aqua);
    cursor: pointer;
}

nav .nav-item:hover::after {
    width: 100%;
}

.btn:hover {
    cursor: pointer;
    background: var(--yellow-transparent25);
    color: inherit;
}

.red {
    color: var(--red);
}

.yellow {
    color: var(--yellow);
}


.white {
    color: white;
}

.uppercase {
    text-transform: uppercase;
}

#logo {
    /* font-family: 'RocketLeague'; */
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 40%;
    align-items: center;
    justify-items: center;
}

#logo:hover {
    cursor: pointer;
}

#logo-pl {
    letter-spacing: 0.9ch;
}

#logo > h1 > span {
    display: block;
}

#logo > img {
    width: 6.66rem;
}

header {
    width: 100%;
}

body > header {
    background: url('img/head-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

body > header > h1 {
    /* font-family: 'RocketLeague'; */
    font-size: 6rem;
    text-align: center;
    width: 60%;
}

body > header > .btn {
    font-size: 3rem;
    border: 6px solid var(--red);
    align-self: start;
}

body > header > .btn:hover {
    background: #D9291540;
}

#about {
    background: url('img/about-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

header {
    display: grid;
    align-items: center;
    justify-items: center;
    align-self: center;
}

body > header, section {
    display: grid;
    align-items: center;
    justify-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 2rem;
    padding-top: calc(7.5rem + 2rem);  /* 120px is offst from top of the site */
}

section h1 {
    font-size: 4rem;
    align-self: center;
    justify-self: center;
}

#to-win {
    display: grid;
    grid-template-columns: repeat(3, 18rem);
    grid-gap: 2rem;
}

.to-win-col > img {
    width: 100%;
}

.to-win-col > p {
    font-size: 1.5rem;
}

.separator {
    content: '';
    background: var(--yellow-transparent25);
    display: block;
    width: 100%;
    margin: auto;
    height: 1px;
}

.to-win-col {
    text-align: center;
    display: grid;
    align-items: center;
    background: #4068D340;
    border: 2px solid var(--dark);
    height: 30rem;
    padding: 2rem 1rem;
    transition: all 0.3s ease-in-out;
}

.to-win-col:hover {
    background: #66B9C540;
}

#last-winners {
    background: url('img/last-winners-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#time-to-next-season {
    background: url('img/time-to-next-season-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@media only screen and (max-width: 1796px) {
    html {
        font-size: 12px;
    }
}

@media only screen and (max-width: 1152px) {
    html {
        font-size: 10px;
    }

    body > header > h1 {
        /* font-family: 'RocketLeague'; */
        font-size: 5rem;
        text-align: center;
        width: 60%;
    }

    #logo {
        width: 60%;
    }
}